
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

@keyframes bounceX {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-moz-transform: translateX(-15px);
		-ms-transform: translateX(-15px);
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px);
	}
	60% {
		-moz-transform: translateX(-5px);
		-ms-transform: translateX(-5px);
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
}

#app {
	margin-top: 40px;
}

.navbar.header {
	padding: 0px;
}

.title {
	margin: 15px 0px;
	letter-spacing: 5px;
}

footer { /* 令 footer 圖層置底，才不會蓋到其他元素 */
	margin-top: 15px;
	position: relative;
	z-index: -1;
}

.hide {
	display: none;
}

.nav-item {
	display: inline;
}

.nav-item.hide {
	display: none;
}

.nav-item.list-group-item-success i.done {
	display: initial;
}

.nav-item.list-group-item-success i.yet {
	display: none;
}

.nav-item.active .icon-arrow {
	position: absolute;
	top: 17px;
	display: initial;
	-moz-animation: bounceX 2s infinite;
	-webkit-animation: bounceX 2s infinite;
	animation: bounceX 2s infinite;
}

.nav-item.disabled {
	color: #ccc;
}

.nav-item.disabled:hover {
	color: #ccc;
	background-color: #fff;
}

.nav-item.disabled:focus {
	color: #ccc;
	background-color: #fff;
}

.tip-qualify-first {
	display: none;
}
.show-qualify-first>.tip-qualify-first {
	display: block;
}

.tip-personal-info-first {
	display: none;
}

.tip-deadline {
	display: none;
}

.show-personal-info-first>.tip-personal-info-first {
	display: block;
}

.show-deadline>.tip-deadline {
	display: block;
}

.tip-grade-first {
	display: none;
}

.tip-admission-deadline {
	display: none;
}

.show-grade-first>.tip-grade-first {
	display: block;
}

.show-admission-deadline>.tip-admission-deadline {
	display: block;
}

.tip-admission-first {
	display: none;
}
.show-admission-first>.tip-admission-first {
	display: block;
}

#logo {
	color: inherit;
	position: absolute;
	text-transform: uppercase;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#logo:hover {
	text-decoration: none;
	animation-name: bounce;
	-moz-animation-name: bounce;
}

#arrow-top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#arrow-top i{
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#arrow-top:hover{
	background: rgba(0, 0, 0, 0.9);
}
#arrow-top:hover i{
	color: #fff;
	top: 5px;
}

