<div class="title">
    <h2>錄取結果查詢</h2>
</div>
<div id="form-studentInfo" class="container-fluid">
    <div class="row justify-content-center">
        <form class="">
            <!--姓名-->
            <div class="form-group form-inline col">
                <label for="name" class="control-label"><i class="fa fa-user fa-fw" aria-hidden="true"></i>姓名：</label>
                <div >
                    <input type="text" class="form-control" id="name" placeholder="正體中文或英文姓名全名" maxlength="100">
                </div>
            </div>
            <!--生日-->
            <div class="form-group form-inline col">
                <label for="birthday" class="control-label"><i class="fa fa-birthday-cake fa-fw" aria-hidden="true"></i>生日：</label>
                <div >
                    <input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy/mm/dd" id="birthday" placeholder="ex:1999/01/01">
                </div>
            </div>
            <!--性別-->
            <div class="form-group form-inline col">
                <label><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>性別：</label>
                <div >
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" value="F"> 女<i class="fa fa-venus fa-fw" aria-hidden="true"></i>&emsp;
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" value="M"> 男<i class="fa fa-mars fa-fw" aria-hidden="true"></i>&emsp;
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" value="O"> 其它<i class="fa fa-user-o fa-fw" aria-hidden="true"></i>&emsp;
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 text-center" style="padding-top: 2%">
            <button class="btn btn-info" id="btn-search">
                <i class="fa fa-search" aria-hidden="true"></i> 查詢
            </button>
        </div>
    </div>
</div>

<!--查詢結果-->
<div id="form-result" class="hide accepted no-result result">
    <hr />
    <div class="title">
        <h3>查詢結果</h3>
    </div>
    <!--金榜題名-->
    <div id="accepted" class="hide accepted result">
        <table class="rwd-table table" id="admission-roster">
            <tr>
                <th>報名序號</th>
                <th>僑生編號</th>
                <th>中、英文姓名</th>
                <th>錄取校系</th>
                <th>報名管道</th>
            </tr>
            <tr class="table-warning">  <!--給個金榜題名的感覺-->
                <!--學生榜單資訊-->
            </tr>
        </table>
    </div>
    <!--查無結果-->
    <div id="no-result-case1" class="alert alert-secondary mt-2 hide no-result result" role="alert">
        未獲此梯次錄取
    </div>
</div>
