<%- include ('components/_studentInfo') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.css">  <!--使用 jQuery 的 Tooltip-->

<h2 class="text-center title">分發志願選填</h2>

<hr>

<a class="btn btn-success quota-button" id="btn-Quota" href="./quota.html" target="_blank" style="display: inline-flex; align-items: center;">
	<i class="fa fa-search fa-2x quota-icon" aria-hidden="true"></i>
	&nbsp;&nbsp;
	<span>
		各校系簡章分則查詢
		<br/>
		Admission Guideline
	</span>
</a>

<div class="row" id="form-placementSelect">
	<div class="col-12">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header bg-primary text-white">注意事項</div>
					<ol>
						<li>
							請依欲就讀校系意願由高至低依序選填最多<strong class="text-danger"> 43 </strong>個志願。
							<br/>
							<small>Please fill in up to<strong class="text-danger"> 43 </strong>choices of schools and departments, from the highest to the lowest priority that you wish to study in.</small>
						</li>
						<li>
							填寫志願的數目及順序，與能否分發之關係甚大，建議善用<strong class="text-danger"> 43 </strong>個志願之機會，切勿集中填寫某些學校科系之志願，更不宜僅填 1、2 個志願。
							<br/>
							<small>The number and order of filled out in the application have a great impact on where you will be admitted to. It is recommended that you make good use of the<strong class="text-danger"> 43 </strong>choices. Do not concentrate on certain schools or departments, and it is not recommended to only fill in 1 or 2 choices.</small>
						</li>
					</ol>
					<div class="card-body">
						<p>
							<strong>操作說明 <small>Directions</small></strong>
							<ol>
								<li>
									請於左欄招生校系清單，點選 <span class="badge badge-info"><i class="fa fa-plus" aria-hidden="true"></i></span> 將志願加入右欄。
									<br/>
									<small>Please click <span class="badge badge-info"><i class="fa fa-plus" aria-hidden="true"></i></span> in the left column【List of schools and departments for admissions】 to add your preferences to the right column.</small>
								</li>
								<li>
									於右欄已填選志願可以點選 <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span> 刪除志願；點選 <span class="badge badge-white"><i class="fa fa-chevron-up" aria-hidden="true"></i></span> <span class="badge badge-white"><i class="fa fa-chevron-down" aria-hidden="true"></i></span> 或直接輸入志願序調整志願順序。
									<br/>
									<small>On the right column, you can click on <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span> to Delete preference. Click <span class="badge badge-white"><i class="fa fa-chevron-up" aria-hidden="true"></i></span> <span class="badge badge-white"><i class="fa fa-chevron-down" aria-hidden="true"></i></span> or directly key in your preference to adjust the preference order.</small>
								</li>
								<li>
									最多可選填 <strong class="text-danger">43</strong> 個志願。
									<br/>
									<small>One can fill in a maximum of <strong class="text-danger">43</strong> preferences.</small>
								</li>
							</ol>
						</p>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xl-6">
				<div class="card card-bottom">
					<div class="card-header">招生校系清單 <small>List of recruiting universities/departments</small></div>
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select-optionFilter">
									<option value="cardCode">志願代碼</option>
									<option value="school">學校名稱</option>
									<option value="dept">系所名稱</option>
									<option value="mainGroup">學群</option>
								</select>
							</div>
							<div class="col-7">
								<div class="input-group">
									<input type="text" id="input-optionFilter" class="form-control" id="" placeholder="關鍵字">
									<span class="input-group-btn">
										<button id="btn-manualSearch" class="btn btn-secondary" type="button">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
									</span>
								</div>
							</div>
						</div>

						<hr>

						<div class="row">
							<div class="col-12">
								<table class="table table-hover">
									<tbody id="optionalWish-list">
									</tbody>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<table class="table table-hover">
									<div id="pagination-container"></div>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card card-bottom">
					<div class="card-header">已填選志願 <small>Preferences added.</small></div>
					<div class="card-body">
						<table class="table table-hover">
							<tbody id="wish-list">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md text-center">
		<button id="btn-save" class="btn btn-primary" role="button">儲存</button>
	</div>
</div>

<!-- <div class="modal modal-centerd-lg" tabindex="-1" role="dialog" id="docs-modal">
	<div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-title"></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id='modal-body'>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="btn-info">詳細資訊</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
			</div>
		</div>
	</div>
</div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js"></script>  <!--使用 jQuery 的 Tooltip-->
