<div id="alert-invalid" class="alert alert-danger mt-2 hide" role="alert">
	<strong>驗證失敗！</strong> 請確保驗證連結未經修改。
</div>
<div id="alert-valid" class="alert alert-success mt-2 hide" role="alert">
	<strong>驗證成功！</strong> 3 秒後自動轉跳至首頁。
</div>
