<%- include ('components/_studentInfo') %>

<h2 class="text-center title">個人基本資料</h2>

<hr>

<div class="row">
	<div class="col-12">
		<div class="alert alert-info" role="alert">
			<b>
				<span class="text-danger">* 紅色字體為必填欄位。</span>
			</b>
		</div>
	</div>
</div>

<div id="form-personalInfo">

	<dl class="row">
		<dt class="col-md-3">
			申請人資料表
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="email">E-Mail</label>
						<input type="email" class="form-control" id="email" value="" disabled>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="backupEmail">備用 E-Mail</label>
						<input type="email" class="form-control" id="backupEmail">
					</div>
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="name">* 姓名（中）<small>Name(chinese)</small></label>
						<input type="text" class="form-control" id="name" placeholder="姓名">
						<small class="text-danger">「請以正體字書寫」 </small>
						<small class="text-danger">範例：張家華</small>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="engName">* 姓名（英）<small>Name(English in capital letters)</small></label>
						<input type="text" class="form-control" id="engName" placeholder="Name">
						<small class="text-danger">請注意與身分證件、畢業證書所載一致。</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<fieldset class="form-group" id="Gender_FieldSet">
						<label class="text-danger" id="gender">* 性別<small>Sex</small></label><br>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input gender" type="radio" name="gender" value="F"> 女
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input gender" type="radio" name="gender" value="M"> 男
							</label>
						</div>
					</fieldset>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="birthday">* 生日<small>Date of Birth</small></label>
						<input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy/mm/dd" id="birthday">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger" id="birthPlace">* 出生地<small>Birthplace</small></label>
						<div class="row">
							<div class="col-md-6">
								<select class="form-control" id="birthContinent">
								</select>
							</div>
							<div class="col-md-6 country">
								<select class="show-tick" id="birthLocation" data-live-search="true" data-width="100%" data-style="btn-white">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<fieldset class="form-group">
						<label class="text-danger">* 是否為「身心障礙」或「特殊照護」或「特殊教育」者</label><br>
						<label class="text-danger"><small>Are you classified as a person with “mental/physical disabilities” or “special needs, “or “in need of special education”?</small></label><br/>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input special" type="radio" name="special" value="0" checked> 否
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input special" type="radio" name="special" value="1"> 是
							</label>
						</div>
					</fieldset>
				</div>
			</div>

			<div id="specialForm" class="hide">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="text-danger" for="disabilityCategory">* 障礙類別</label>
							<select class="form-control" id="disabilityCategory">
								<option value="視覺障礙">視覺障礙</option>
								<option value="聽覺障礙">聽覺障礙</option>
								<option value="肢體障礙">肢體障礙</option>
								<option value="語言障礙">語言障礙</option>
								<option value="腦性麻痺">腦性麻痺</option>
								<option value="自閉症">自閉症</option>
								<option value="學習障礙">學習障礙</option>
								<option value="-1">其他</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="text-danger" for="disabilityLevel">* 程度</label>
							<select class="form-control" id="disabilityLevel">
								<option value="極重度">極重度</option>
								<option value="重度">重度</option>
								<option value="中度">中度</option>
								<option value="輕度">輕度</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row" id="otherDisabilityCategoryForm">
					<div class="col-md-12">
						<div class="form-group">
							<label class="text-danger" for="otherDisabilityCategory">* 其他類別</label>
							<input class="form-control" type="text" id="otherDisabilityCategory" maxlength="15">
							<small class="text-muted">請填寫 15 字內的說明</small>
						</div>
					</div>
				</div>
			</div>

			<div class="row proposeGroup-div">
				<div class="col-md-12">
					<div class="form-group">
						<label for="proposeGroup">協助推薦來臺就學之僑華校/教學組織（無則免填）</label>
						<label for="proposeGroup"><small>Overseas Chinese school/teaching organization which assists in the recommendation for studying in Taiwan (leave blank if none)</small></label>
						<input type="email" class="form-control" id="proposeGroup" maxlength="100">
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			僑居地資料
			<br/>
			<small>Country of residence</small>
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger">* 地區或國別<small>Country</small></label>
						<div class="row">
							<div class="col-md-6">
								<select class="form-control" id="residenceContinent">
								</select>
							</div>
							<div class="col-md-6 country">
								<select class="show-tick" id="residentLocation" data-live-search="true" data-width="100%" data-style="btn-white">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="residentId">* 身分證號碼（ID no.）<small>National ID NO.</small></label>
						<input type="text" class="form-control" id="residentId" placeholder="ID no.">
						<small class="text-danger hide" id="residentHongKongIdExample">格式範例：A123456(7)</small>
						<small class="text-danger hide" id="residentMacauIdExample">格式範例：1234567(8)</small>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="residentPassportNo">護照號碼<small>Passport No.</small></label>
						<input type="text" class="form-control" id="residentPassportNo" placeholder="Passport no.">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger" for="residentPhoneCode">* 電話<small>Home Phone No.</small></label>
						<div class="row">
							<div class="col-3">
								<input type="text" class="form-control" id="residentPhoneCode" maxlength="5" placeholder="國碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
							</div>
							<div class="col-9">
								<input type="text" class="form-control" id="residentPhone" maxlength="185" placeholder="電話號碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger" for="residentCellphoneCode">* 手機<small>Mobile Phone No.</small></label>
						<div class="row">
							<div class="col-3">
								<input type="text" class="form-control" id="residentCellphoneCode" maxlength="5" placeholder="國碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
							</div>
							<div class="col-9">
								<input type="text" class="form-control" id="residentCellphone" maxlength="185" placeholder="手機電話號碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger" for="residentAddress">* 地址<small>sex</small></label>
						<input type="text" class="form-control" id="residentAddress" placeholder="地址">
						<small class="form-text text-danger">請以「中文」或「英文」填寫</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group hide">
						<label for="residentOtherLangAddress">地址</label>
						<input type="text" class="form-control" id="residentOtherLangAddress" placeholder="地址">
						<small class="form-text text-muted">（選填）請以 <span class="text-danger">中英文以外語言</span> 填寫</small>
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			在臺資料<span class="text-danger">（無者免填）</span>
			<br/>
			<small>Information in Taiwan</small>
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-6 col-md-6">
					<div class="form-group">
						<label for="taiwanIdType">證件類型</label>
						<label for="taiwanIdType">Document type</label>
						<select class="form-control" id="taiwanIdType">
							<option value="">請選擇</option>
							<option value="身分證">身分證</option>
							<option value="居留證">居留證</option>
						</select>
					</div>
				</div>
				<div class="col-6 col-md-6">
					<div class="form-group">
						<label for="taiwanIdType">證件號碼<small>Republic of China National ID No. / Republic of China Resident Certificate No.</small></label>
						<input type="text" class="form-control" id="taiwanIdNo" placeholder="">
						<small class="text-muted">該「證件類型」的號碼</small>
						<small class="text-danger hide" id="taiwanIdExample1">居留證範例：<br/>（舊）FC12345678<br/>（新）B876543210</small>
						<small class="text-danger hide" id="taiwanIdExample2">身分證範例：A123456789</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="taiwanPassport">臺灣護照號碼<small>Republic of China Passport No.</small></label>
						<input type="text" class="form-control" id="taiwanPassport" placeholder="Passport no.">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="taiwanPhone">臺灣電話</label>
						<input type="text" class="form-control" id="taiwanPhone" placeholder="電話" onblur="this.value=this.value.replace(/[^\d]/g,'')">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="taiwanAddress">臺灣地址</label>
						<input type="text" class="form-control" id="taiwanAddress" placeholder="地址">
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			最高學歷
			<br/>
			<small>Highest level of education attained</small>
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger" for="educationSystemDescription">* 學制描述</label>
						<label class="text-danger"><small>Academic system description</small></label>
						<input type="text" class="form-control" id="educationSystemDescription" placeholder="xx小學6年、xx中學3年、xx高中3年">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger">* 學校所在國別<small>Country of School</small></label>
						<div class="row">
							<div class="col-md-6">
								<select class="form-control" id="schoolContinent">
								</select>
							</div>
							<div class="col-md-6 country">
								<select class="show-tick" id="schoolCountry" data-live-search="true" data-width="100%" data-style="btn-white">
								</select>
							</div>
						</div>
						<!-- <div class="col-md-12 alert alert-warning mt-2 alert-schoolCountry hide" role="alert">
							<strong>注意！</strong> 學校所在地已被修改。<br />將移除已選擇的聯合分發成績採計方式及聯合分發志願。
						</div> -->
					</div>
				</div>
			</div>

			<!-- 顯示：馬來西亞、印尼、越南、泰國、緬甸 -->
			<div id="schoolTypeForm" class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger" for="schoolType">* 學校類型<small>Type of School</small></label>
						<select class="form-control" id="schoolType">
						</select>
					</div>
					<!-- <div class="col-md-12 alert alert-warning mt-2 alert-schoolType hide" role="alert">
						<strong>注意！</strong> 修改學校類型，儲存後，<br />將影響已選擇的「個人申請志願」、「聯合分發成績採計方式」及「聯合分發志願」，敬請留意。
					</div> -->
				</div>
			</div>

			<!-- 顯示：香港、澳門、馬來西亞（類別：華文獨立中學學生、臺灣學校學生）、印尼（海外臺灣學校）。必須和學校名稱 (select) 一起出現 -->
			<div id="schoolLocationForm" class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="schoolLocation">* 學校所在地</label>
						<select class="form-control" id="schoolLocation">
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="schoolNameSelect">* 學校名稱<small>Name of School</small></label>
						<select class="form-control" id="schoolNameSelect"  data-live-search="true" data-width="100%" data-style="btn-white">
						</select>
					</div>
				</div>
			</div>

			<!-- 顯示：港、澳及馬來西亞（類別：國民型或國民中學學生、國際學校學生）、印尼（海外臺灣學校）「以外的」 -->
			<div id="schoolNameTextForm" class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger" for="schoolNameText">* 學校名稱<small>Name of School</small></label>
						<input class="form-control" type="text" id="schoolNameText">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="schoolAdmissionAt">* 入學時間</label>
						<label class="text-danger"><small>Date of admission</small></label>
						<input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy/mm" data-date-min-view-mode="months" id="schoolAdmissionAt">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="schoolGraduateAt">* 畢業時間</label>
						<label class="text-danger"><small>Date of graduation</small></label>
						<input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy/mm" data-date-min-view-mode="months" id="schoolGraduateAt">
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			家長資料
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="card">
						<div class="card-header">
							監護人1<small>Father / Mother</small>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label class="text-danger" for="">* 存歿</label><br>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input dadStatus" type="radio" name="dadStatus" value="alive" checked> 存
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input dadStatus" type="radio" name="dadStatus" value="deceased"> 歿
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input dadStatus" type="radio" name="dadStatus" value="undefined"> 不詳
											</label>
										</div>
									</div>
								</div>
							</div>
							<div id="form-dadData">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="dadName">* 姓名（中）<small>Name (Chinese)</small></label>
											<input type="text" class="form-control" id="dadName" placeholder="姓名">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="dadEngName">* 姓名（英）<small>Name (English)</small></label>
											<input type="text" class="form-control" id="dadEngName" placeholder="Name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="dadBirthday">* 生日<small>Date of Birth</small></label>
											<input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy/mm/dd" id="dadBirthday">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="dadJobForm text-danger" for="dadJob" >* 職業<small>Profession</small></label>
											<input type="text" class="dadJobForm form-control" id="dadJob" placeholder="">
										</div>
									</div>
								</div>
								<div class="row" id = "dad-phone">
									<div class="col-md-12">
										<div class="form-group">
											<label class="text-danger" for="dadPhoneCode">* 聯絡電話<small>Telephone No.</small></label>
											<div class="row">
												<div class="col-3">
													<input type="text" class="form-control" id="dadPhoneCode" maxlength="5" placeholder="國碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
												</div>
												<div class="col-9">
													<input type="text" class="form-control" id="dadPhone" maxlength="185" placeholder="手機或電話號碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="card">
						<div class="card-header">
							監護人2<small>Father / Mother</small>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group" id="momStatus">
										<label class="text-danger" for="">* 存歿</label><br>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input momStatus" type="radio" name="momStatus" value="alive" checked> 存
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input momStatus" type="radio" name="momStatus" value="deceased"> 歿
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input momStatus" type="radio" name="momStatus" id="btn-motherUnknown" value="undefined"> 不詳
											</label>
										</div>
									</div>
								</div>
							</div>
							<div id="form-momData">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="momName">* 姓名（中）<small>Name (Chinese)</small></label>
											<input type="text" class="form-control" id="momName" placeholder="姓名">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="momEngName">* 姓名（英）<small>Name (English)</small></label>
											<input type="text" class="form-control" id="momEngName" placeholder="Name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="momBirthday">* 生日<small>Date of Birth</small></label>
											<input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy/mm/dd" id="momBirthday">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="momJobForm text-danger" for="momJob">* 職業<small>Profession</small></label>
											<input type="text" class="momJobForm form-control" id="momJob" placeholder="">
										</div>
									</div>
								</div>
								<div class="row" id = "mom-phone">
									<div class="col-md-12">
										<div class="form-group">
											<label class="text-danger" for="momPhoneCode">* 聯絡電話<small>Telephone No.</small></label>
											<div class="row">
												<div class="col-3">
													<input type="text" class="form-control" id="momPhoneCode" maxlength="5" placeholder="國碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
												</div>
												<div class="col-9">
													<input type="text" class="form-control" id="momPhone" maxlength="185" placeholder="手機或電話號碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- <div id="form-guardian" style="display: none">
						<br>
						<div class="alert alert-success" role="alert">
							<b>
								<i class="fa fa-exclamation-circle" aria-hidden="true"></i> 請填寫監護人資料。
							</b>
						</div>
						<div class="card">
							<div class="card-header">
								監護人
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="guardianName">* 姓名（中）</label>
											<input type="text" class="form-control" id="guardianName" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="guardianEngName">* 姓名（英）</label>
											<input type="text" class="form-control" id="guardianEngName" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="guardianBirthday">* 生日</label>
											<input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy/mm/dd" id="guardianBirthday">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="guardianJob">* 職業</label>
											<input type="text" class="form-control" id="guardianJob" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="text-danger" for="guardianPhoneCode">* 聯絡電話</label>
											<div class="row">
												<div class="col-3">
													<input type="text" class="form-control" id="guardianPhoneCode" maxlength="5" placeholder="國碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
												</div>
												<div class="col-9">
													<input type="text" class="form-control" id="guardianPhone" maxlength="185" placeholder="手機或電話號碼" onblur="this.value=this.value.replace(/[^\d]/g,'')">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->

				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			在臺聯絡人<span class="text-danger">（無者免填）</span>
			<br/>
			<small>Contact person in Taiwan</small>
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="twContactName">姓名</label>
						<input type="text" class="form-control" id="twContactName" placeholder="">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="twContactRelation">關係</label>
						<input type="text" class="form-control" id="twContactRelation" placeholder="">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="twContactPhone">聯絡電話</label>
						<input type="text" class="form-control" id="twContactPhone" placeholder="" onblur="this.value=this.value.replace(/[^\d]/g,'')">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="twContactAddress">地址</label>
						<input type="text" class="form-control" id="twContactAddress" placeholder="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="twContactWorkplaceName">服務機關名稱</label>
						<input type="text" class="form-control" id="twContactWorkplaceName" placeholder="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="twContactWorkplacePhone">服務機關電話</label>
						<input type="text" class="form-control" id="twContactWorkplacePhone" placeholder="" onblur="this.value=this.value.replace(/[^\d]/g,'')">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="twContactWorkplaceAddress">服務機關地址</label>
						<input type="text" class="form-control" id="twContactWorkplaceAddress" placeholder="">
					</div>
				</div>
			</div>
		</dd>
	</dl>

</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary" id="btn-save">儲存</button>
	</div>
</div>
