<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">

<h3> 113 學年度 （西元 2024 年） 四年制產學合作學士海外青年技術訓練班學校科系表</h3>

<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered table-hover sortable">
        <thead>
            <tr>
                <th style="width:10%">
                    志願代碼
                    <br/>
                    <small class="text-muted">Card Code</small>
                </th>
                <th style="width:35%">
                    學校名稱
                    <br/>
                    <small class="text-muted">University</small>
                </th>
                <th style="width:45%">
                    系組名稱
                    <br/>
                    <small class="text-muted">Department</small>
                </th>
                <th style="width:10%">
                    提供名額
                    <br/>
                    <small class="text-muted">Quota</small>
                </th>
            </tr>
        </thead>
        <tbody id="departmen-list">
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>