<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">

<h3> 114 學年度 （西元 2025 年） 四年制產學合作學士海外青年技術訓練班學校科系表</h3>

<div class="input-group pull-right" style="margin-bottom:15px; width: 40%;">
    <input type="search" aria-label="search" class="form-control" style="height: auto;" id="search" placeholder="請輸入關鍵字查詢   Please input keyword to search">
    <div class="input-group-append">
        <button class="btn btn-outline-dark" type="button" id="search-btn">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered sortable">
        <thead>
            <tr>
                <th style="width:10%">
                    志願代碼
                    <br/>
                    <small class="text-muted">Card Code</small>
                </th>
                <th style="width:35%">
                    學校名稱
                    <br/>
                    <small class="text-muted">University</small>
                </th>
                <th style="width:45%">
                    系組名稱
                    <br/>
                    <small class="text-muted">Department</small>
                </th>
            </tr>
        </thead>
        <tbody id="departmen-list">
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>