<div class="Register pb-5">
	<h4>註冊帳號</h4>
	<div class="row">
		<div class="col-md-10 offset-md-2">
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						<label for="Register__inputEmail">帳號(E-Mail)</label>
						<input type="email" class="form-control" id="Register__inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text text-muted">建議使用 Gmail 或 Yahoo 信箱註冊，註冊後請至 E-Mail 閱讀帳號開通信。</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						<label for="Register__inputPassword">密碼</label>
						<input type="password" class="form-control" id="Register__inputPassword" placeholder="Password">
						<small class="form-text text-muted" id="password-warning">請輸入大於等於 <span class="text-danger">8</span> 個字元，並混合大寫、小寫、數字或特殊符號（限~!@#$%^&*()_+-=）任兩種</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						<label for="Register__inputPasswordConfirm">確認密碼</label>
						<input type="password" class="form-control" id="Register__inputPasswordConfirm" placeholder="Password">
					</div>
				</div>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input id="agreePersonalProtectionLaw" type="checkbox" class="form-check-input" > 本人同意<a href="./treaty.html" target="_blank">「中華民國僑務委員會  報名學生個人資料蒐集、處理及利用告知事項」</a>。（勾選表示同意）
					<br/><small>I agree with the<a href="./treaty.html" target="_blank"> “Overseas Community Affairs Council, R.O.C. (Taiwan) Statement on collecting, processing and using registering students’ personal data.”</a> (Check to agree)</small>
				</label>
			</div>
			<div class="row mt-4 mb-4">
				<div class="col-md-4 offset-md-3">
					<div class="form-group">
						<button class="btn btn-primary btn-block Register__btnRegister" disabled >註冊</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/gh/emn178/js-sha256/src/sha256.js"></script>
