<div class="row">
	<div class="col-md-8 offset-md-2">
		<div class="alert alert-danger" role="alert">
			<strong>注意！</strong> 若未在收件夾看見系統發送之信件，請先至垃圾信件夾確認。
		</div>
	</div>
</div>

<div class="row input">
	<div class="col-md-8 offset-md-2">
		<div class="form-group">
			<h3 class="text-center">請輸入註冊的E-mail</h3>
			<input id="email" type="email" class="form-control" placeholder="Email">
		</div>
	</div>
</div>

<div class="row buttons">
	<div class="col-md-8 offset-md-2 text-center">
		<button id="btn-resetPassword" type="button" class="btn btn-info">送出</button>
	</div>
</div>
