<%- include ('components/_studentInfo') %>

<h2 class="text-center title">資料預覽</h2>

<hr>

<div class="alert alert-info" role="alert">
	<ul>
	<li>請點選「預覽個人資料」<strong>確認填寫的資料是否正確</strong>。(非正式文件，僅供檢視)</li>

	<li><strong>資料確認不須更改後</strong>，可點選「確認並鎖定個人基本資料」後，至下載報名表件頁面產生報名表件。</li>

	<li>請注意，點選「確認並鎖定個人基本資料」後，<strong>將無法修改個人資料</strong>。</li>

	<li>如已點選「確認並鎖定個人基本資料」後，需再修改資料請填寫「<a class="correction-form-link" target="_blank">資料修正表</a>」或是<strong>重新註冊新的帳號</strong>。</li>
	</ul>
</div>

<div class="row" id="div-previewData">
	<div class="col-12">
		<div class="row">
			<div class="col-md-12 text-center" >
				<a class="btn btn-success quota-button" target="_blank" href="#" id="btn-previewPersonalData">
					<i class="fa fa-link" aria-hidden="true"></i> 預覽個人資料
				</a> <br>
				<small>供未確認資料者下載（非正式文件，僅供檢視）</small>
			</div>
		</div>
	</div>
	<div class="col-12">
		<hr>
	</div>
</div>
