<%- include ('components/_studentInfo') %>

<h2 class="text-center title">志願檢視</h2>

<hr>

<div class="alert table-info" role="alert">
	<ul>
	<li>請點選「預覽個人資料」<strong class="text-danger">確認填寫的資料是否正確</strong>。(非正式文件，僅供檢視)<br/><small>Please click on “Preview personal profile” to <strong class="text-danger">confirm whether or not the information filled in is correct</strong>. (The downloaded paper does not serve as an official document. Only available as a preview).</small></li>

	<li><strong>填報資料（含志願）確認不須更改後</strong>，可點選「確認並鎖定報名基本資料」後，至下載報名表件頁面產生報名表件。<br/><small><strong>After confirming that the information filled in (including preferred choices) does not need to be changed</strong>, click on “Confirm the completed information” and go to the download application form page to generate the application form.</small></li>

	<li>請注意，點選「確認並鎖定報名基本資料」後，<strong>將無法修改個人資料及志願</strong>。<br/><small>Please note that once you click on the “Confirm the completed information,” <strong>you will not be able to modify your personal information and preferred choices</strong>.</small></li>

	<li>如已點選「確認並鎖定報名基本資料」後，需再修改個人基本資料（不含志願），請填寫「<a class="correction-form-link" target="_blank">資料修正表</a>」或是<strong>重新註冊新的帳號</strong>。<br/><small>If you have clicked on the “Confirm the completed information” and wish to modify your personal information (excluding the preferred choices), you may fill out the “<a class="correction-form-link" target="_blank">Information Correction Form</a>” or <strong>register a new account</strong>.</small></li>
	</ul>
</div>

<div class="row" id="form-order">
	<div class="col-12">
		<div class="card">
			<div class="card-header bg-primary text-white">分發志願</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>序號</th>
							<th><span id="dept-code-title">志願代碼</span></th>
							<th>校系名稱</th>
						</tr>
					</thead>
					<tbody id="tbody-order">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="row" id="div-previewData">
	<div class="col-12">
		<div class="row">
			<div class="col-md-12 text-center" >
				<a class="btn btn-success quota-button" target="_blank" href="#" id="btn-previewPersonalData">
					<i class="fa fa-link" aria-hidden="true"></i> 預覽個人資料
				</a> <br>
				<small>供未確認資料者下載（非正式文件，僅供檢視）</small>
			</div>
		</div>
	</div>
	<div class="col-12">
		<hr>
	</div>
</div>
