<div class="row">
	<div class="col-12">
		<h3>
			中華民國僑務委員會 Overseas Community Affairs Council, R.O.C. (Taiwan) <br/>
			<small class="text-muted">報名學生個人資料蒐集、處理及利用告知事項</small><br/>
			<small class="text-muted">Disclosure Regarding Collecting, Processing and Using Personal Data of Applicants</small>
		</h3>
		<div class="bs-callout bs-callout-warning">
			<p>
				請您於填寫個人資料前，務必詳讀下列所有條款內容，並勾選表示同意。<br>
				若您勾選後按下「同意」，即表示您同意遵守下列條款，並同意本單位依下列條款蒐集、處理、利用您於本網站提供之個人資料。
			</p>
			<p>
				依據「個人資料保護法」（以下簡稱個資法），為確保您的個人資料，隱私及權益之保護，請詳細閱讀僑務委員會（以下簡稱本會）依個資法第8條及第9條規定所為以下「報名學生個人資料蒐集、處理及利用告知事項」（倘您未滿18歲，下列內容請併向您法定代理人或監護人告知）。
			</p>
			<p>
				Please read the following terms thoroughly before filling in your personal data, and then click “agree”.<br>
				By checking and clicking "agree," you agree to abide by the following terms and agree with us to collect, process and use the personal data that you provide on this website according to the following terms.
			</p>
			<p>
				The following “Disclosure Regarding Collecting, Processing and Using Personal Data of Applicants” is issued by Overseas Community Affairs Council (hereinafter, the “Committee”) in accordance with Article 8 and 9 of the “Personal Data Protection Act” (hereinafter, the “PDPA”) to ensure the protection of your personal data, privacy and rights (if you are under 18 years old, please notify your guardian the following terms).
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<nav id="treaty" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
			<span class="navbar-brand">條款內容 Content of Terms</span>
		</nav>
		<div data-spy="scroll" data-target="#treaty" data-offset="0" class="scrollspy-example">
			<p>
				<strong> 一、 機構名稱：中華民國僑務委員會</strong><br/>
				<li type='I'><strong> Name of the organization: Overseas Community Affairs Council, R.O.C. (Taiwan) </strong></li>
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck2' type='checkbox'>
				<strong>二、 個人資料蒐集之目的：</strong>
				<ol>
					<li>本會基於辦理海外青年技術訓練班（以下簡稱本專班）招生工作相關之試務（134<sup>註</sup>，包括公示姓名榜單）、提供學業成績、考試成績、招生、分發、證明使用之資（通）訊服務（135）、資（通）訊與資料庫管理（136）、學（員）生資料管理（158）、學術研究（159）及完成其他招生必要工作或經報名學生同意之目的。</li>
					<li>本會為提供精確之專班分發入學工作，須將蒐集之考試成績、成績等第進行統計與分析，分析結果之統計數據或說明文字呈現，除供分發所需及內部研究外，本會視需要公布統計數據及說明文字，但不涉及特定個人之資料。</li>
					<li>本會進行後續分發成果追蹤之相關學術研究、教育研究及統計研究分析等目的進行蒐集。</li>
				</ol>
				<!--
				<li type='I' value ='2'><strong> Purpose of Personal Data Collection: </strong></li>
				<ol>
					<li>In order to conduct “individual application” and “united distribution” for distributing overseas Chinese/Hong Kong/Macau students to Taiwan universities and Division of Preparatory Programs for Overseas Chinese of National Taiwan Normal University (hereinafter, the “Division of Preparatory Programs for Overseas Chinese”), your personal data is collected for services related to entrance exam including application and examination administration (134<sup>NOTE</sup>, including the name list of public announcement), application, notification of test scores, notification of admission decision, and verification of document (135), information (communication) and database Management(136), student data administration (158), academic research (159) and fulfill other task required by the Committee or the purposes agreed by the applicants.</li>
					<li>In order to provide accurate united distribution, the Committee shall analyze statistically the examination results and scores collected, and the analysis result will be presented as statistical data or explanatory text. In addition to providing the analysis result for distribution and internal research, the Committee shall publish the statistical data and explanatory text if necessary, but will not involve in any specific personal data.</li>
					<li>The Committee will continue collecting the relevant academic research, educational research, and statistical research analysis of the follow-up distribution results.</li>
				</ol>
				-->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck3' type='checkbox'>
				<strong>三、 個人資料之蒐集方式</strong>
				<ol>
					<li>直接透過書面或網路報名所填寫個人資訊或個別上傳系所審查資料時取得。當您進行報名後，系統會保留您提供的個人資料，用來進行資格審查、分發考試及分發入學之相關作業時使用。</li>
					<li>為確定您的僑生身份資格符合「僑生回國就學及輔導辦法」之規定，您的部分個人資料將由本會向內政部移民署，提取您的出入境紀錄。並由本會及海外聯合招生委員會、招生學校進行資格審查。</li>
					<li>為完成報名繳件作業，您的申請表件須依簡章規定送到受理申請單位（如：中華民國各駐外機構、本會海外華僑文教服務中心、本會各年度地區保薦單位等）繳交始完成報名。</li>
					<li>當您獲得分發入學時，您的個人資料將由本會傳輸至被分發的大專校院。</li>
				</ol>
				<!--
				<li type='I' value ='3'><strong> Ways of Collecting Personal Data</strong></li>
				<ol>
					<li>Through the written or online application, or the required documents uploaded individually to the department. After you sign up, the system will retain the personal data you provide for qualification assessment, united distribution examinations and admission via placement relevant tasks.</li>
					<li>If you adopt Hong Kong DSE test score as the performance measurement method, the Committee shall transfer part of your personal data to the Hong Kong Examinations and Assessment Authority through international transmission to collect your test scores.</li>
					<li>If you adopt Malaysia Unified Examination Certificate scores as the performance measurement method, the Committee shall transfer part of your personal data to the United Chinese School Committees’ Association of Malaysia through international transmission to collect your test scores and ranking.</li>
					<li>If you adopt Joint Admission Examination for Macao Four Higher Education Institutions scores as the performance measurement method, the Committee shall transmit part of your personal data to Education and Youth Development Bureau of Macao Special Administrative Region and relevant Macao institutions to verify your test scores.</li>
					<li>To ensure your overseas Chinese/Hong Kong/Macau student identification meets the requirements of “Regulations Regarding Study and Counseling Assistance for Overseas Chinese Students in Taiwan” and “Regulations for Hong Kong and Macao Residents Studying in Taiwan”, part of your personal data shall be transmitted by the Committee to Overseas Community Affairs Council or Ministry of Education, so that Overseas Community Affairs Council or Ministry of Education can obtain your entry and exit records from Ministry of the Interior National Immigration Agency, and the qualifications will be examined by Overseas Community Affairs Council, Ministry of Education and the Committee.</li>
					<li>In order to complete the application, your application documents must be submitted to the following units (e.g. ROC(Taiwan) embassies and missions, Macao Examination Affairs Committee, Culture Centers of Taipei Economic and Cultural Office of Overseas Community Affairs Council, annual regional recommendation units authorized by Overseas Community Affairs Council, the Division of Preparatory Programs for Overseas Chinese Students or the Committee) in accordance with the regulations of the prospectus.</li>
					<li>When you receive the admission via placement, the Committee will transmit your personal data to the public or private university or the Division of Preparatory Programs for Overseas Chinese Students where you are distributed.</li>
				</ol>
				-->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck4' type='checkbox'>
				<strong>四、 蒐集個人資料之類別</strong>
				<ol>
					<li>直接蒐集之個人資料有識別個人者（C001 <sup>註</sup>）、政府資料中之辨識者（C003）、個人描述（C011）、移民情形（C033）之居留證、休閒活動及興趣（C035）、學校紀錄（C051）、資格或紀錄（C052）、應考人紀錄（C057）等個人資料類別，內容包括：中英文姓名、性別、身份證號碼、出生日期、護照號碼、教育資料、聯絡電話、地址、電子郵件地址、父母親中英文姓名、考試編號等，均為必填欄位。考試成績、成績等第則根據您所選的成績採計方式決定。</li>
				</ol>
				<!--
				<li type='I' value ='4'><strong> Categories of Personal Data Collection</strong></li>
				<ol>
					<li>The types of personal data collected directly includes individual’s identification (C001 <sup>NOTE</sup>), governmental data identifier (C003), individual description (C011), resident permit of immigration (C033), recreational activities and interests (C035), school record (C051), qualification or record (C052), record of examinees (C057), etc. The personal data includes Chinese and English name, gender, ID card number, date of birth, passport number, education information, contact number, address, email address, parents’ Chinese and English name, test number, etc, are all required fields. The test scores and ranking are determined by the measurement method you adopt.</li>
					<li>If Malaysia Unified Examination Certificate scores are adopted as the performance measure method, the applicant’s test scores and rankings of each subject shall be obtained from the United Chinese School Committees’ Association of Malaysia indirectly.</li>
					<li>If the Hong Kong DSE test scores are used as the performance measurement method, the applicant’s test scores of each subject shall be obtained from the Hong Kong Examinations and Assessment Authority indirectly.</li>
					<li>If the Joint Admission Examination for Macao Four Higher Education Institutions scores are adopted as the performance measurement method, the applicant’s test scores shall be verified by the Education and Youth Development Bureau of Macao Special Administrative Region and the relevant Macau institution indirectly.</li>
				</ol>
				-->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck5' type='checkbox'>
				<strong>五、 個人資料處理及利用</strong>
				<ol>
					<li>個人資料利用之期間：自您報名日起至辦理考試個人資料保存期限外，以上開蒐集目的完成所需之期間為利用期間。</li>
					<li>個人資料利用之地區：臺灣地區（包括澎湖、金門及馬祖等地區）、中華民國各駐外機構、本會海外華僑文教服務中心、本會各年度地區保薦單位或經考生授權處理、利用之地區及成績提取或核實之單位所在地。</li>
					<li>個人資料利用之對象：除本會外，尚包括協助完成上開蒐集目的之相關合作單位、包含中華民國各駐外機構、教育部、本會（含海外華僑文教服務中心）、本會各年度地區保薦單位、內政部移民署、中華民國各大專校院及本會授權之學術研究機構（單位）。</li>
					<li>個人資料利用之方式：本專班之試務作業、考試成績、分發結果與相關資訊之發送通知，提供相關合作單位進行試務、錄取、分發、報到、查驗等作業，考生（或監護人）之聯繫，基於試務公信之必要揭露與學術研究及其他有助上開蒐集目的完成之必要方式。</li>
				</ol>
				<!-- <ol>
					<li>個人資料利用之期間：自您報名日起至辦理考試個人資料保存期限外，以上開蒐集目的完成所需之期間為利用期間。</li>
					<li>個人資料利用之地區：臺灣地區（包括澎湖、金門及馬祖等地區）、中華民國各駐外機構、澳門試務委員會、僑務委員會海外華僑文教服務中心、僑務委員會各年度地區保薦單位或經考生授權處理、利用之地區及成績提取或核實之單位所在地（香港考試及評核局或馬來西亞華校董事聯合會總會或澳門特別行政區政府教育及青年發展局及相關澳門院校）。</li>
					<li>個人資料利用之對象： 除本會外，尚包括協助完成上開蒐集目的之相關合作單位、包含中華民國各駐外機構、澳門試務委員會、教育部、僑務委員會（含海外華僑文教服務中心）、僑務委員會各年度地區保薦單位、內政部移民署、中華民國各公私立大學校院、僑務委員會印尼輔導訓練班之委辦學校、僑先部及教育部或其授權之學術研究機構（單位）。</li>
					<li>個人資料利用之方式： 本會之試務作業、考試成績、分發結果與相關資訊之發送通知，提供相關合作單位進行試務、錄取、分發、報到、查驗等作業，考生（或監護人）之聯繫，基於試務公信之必要揭露與學術研究及其他有助上開蒐集目的完成之必要方式。</li>
				</ol>
				<li type='I' value ='5'><strong> Personal data processing and use</strong></li>
				<ol>
					<li>Utilizing period: from the time of application to the examination date to the completion of the purposes of the aforementioned information collecting</li>
					<li>Areas where personal data is used: Taiwan (including Penghu, Jinmen and Mazu), ROC (Taiwan) embassies and missions, Macao Examination Affairs Committee, Culture Centers of Taipei Economic and Cultural Office of Overseas Community Affairs Council, annual regional recommendation units authorized by the Overseas Community Affairs Council or areas authorized by the applicants for processing, using, and places where scores are extracted or verified (The Hong Kong Examinations and Assessment Authority or the United Chinese School Committees’ Association of Malaysia or the Education and Youth Development Bureau of Macao Special Administrative Region and relevant Macao institutions).</li>
					<li>Users of personal data: in addition to the Committee, it also includes relevant cooperative units which assist the completion of purposes of the aforementioned information collecting, including ROC (Taiwan) embassies and missions, Macao Examination Affairs Committee, Ministry of education, Overseas Community Affairs Council (including Culture Centers of Taipei Economic and Cultural Office), Ministry of the Interior National Immigration Agency, Taiwan public and private universities, the universities assigned by Overseas Community Affairs Council to hold Indonesia Training Program, the Division of Preparatory Programs for Overseas Chinese Students and Ministry of Education or its authorized academic research institutions.</li>
					<li>Ways of using personal data: to deliver the notice of examination, test results, distribution results and relevant information by the Committee. To provide the data to the relevant cooperative units for conducting examination administration, recruitment, distribution, registration, verification, etc, to contact applicant (or his/her guardian), for the necessary disclosure and academic research in accordance with examination credibility as well as for the completion of purposes of the aforementioned information collecting.</li>
				</ol> -->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck6' type='checkbox'>
				<strong>六、 若您如未提供真實且正確完整之個人資料，將導致無法進行報名、緊急事件無法聯繫或錄取通知無法送達等，影響您參加招生、後續試務與入學之權益。</strong>
				<!-- <li type='I' value ='6'><strong> If you do not provide true, correct and complete personal data, it will result in failure of your application, hindering notification of emergency matter, or failure of receiving admission notice, which will affect your rights in registration, taking examinations and enrollment. </strong></li> -->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck7' type='checkbox'>
				<strong>七、 您得於資料利用期間依個資法規定查詢或請求閱覽；請求製給複製本；請求補充或更正；請求停止蒐集、處理或利用；請求刪除。您得以書面、傳真、電話等方式與本會聯絡，行使上述之權利。您行使有關權利與本會之聯絡方式為：電話：<a href="tel:886-2-23272679">+886-2-23272679</a>；傳真：<a href="tel:886-2-23566377">+886-2-23566377</a>；電子郵件：<a href="mailto:ocacsg@ocac.gov.tw">ocacsg@ocac.gov.tw</a>。</strong>
				<!-- <li type='I' value ='7'><strong> You are entitled to make the following request according to PDPA: the right to inquiry, review or duplicate your personal data; the right to supplement or rectify your personal data; the right to discontinue collection, processing and using your personal data; the right to delete your personal data. You may contact us in writing, by fax or by telephone to exercise the above rights. If you wish to exercise your rights regarding your personal data, you can contact us: Tel.:; Fax; Email:. </strong></li> -->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck8' type='checkbox'>
				<strong>八、 請您確認提供之個人資料，均為真實且正確；如有不實或需變更者，請您立即檢附相關證明文件送交本會辦理更正。</strong>
				<!-- <li type='I' value ='8'><strong> Please confirm that the personal data you provided are true and correct. If there is anything incorrect or needed to amend, please submit relevant supporting documents to the Committee for correction immediately. </strong></li> -->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck9' type='checkbox'>
				<strong>九、 本會得依法令規定或主管機關或司法機關依法所為之要求，將個人資料或相關資料提供予相關主管機關或司法機關。</strong>
				<!-- <li type='I' value ='9'><strong> The Committee may provide personal data or relevant information to the relevant competent authority or judicial authority in accordance with the provisions of the law or the requirements of the competent authority or judicial authority. </strong></li> -->
			</p>
			<p>
				<input class = "hide" id = 'agreeLawCheck10' type='checkbox'>
				<strong>十、 如您要求本會停止蒐集、處理或利用或請求刪除個人資料之請求，或是要求刪除您的個人資料，本會必須同時撤銷您的來臺申請書、來臺入學分發/錄取通知書等。如果您已經分發來臺就學中，將一併撤銷學籍。如果您的請求，致妨礙本會執行職務或完成上開蒐集目的，或導致本會違背法令或主管機關之要求時，本會得繼續蒐集、處理、利用或保留個人資料。</strong>
				<!-- <li type='I' value ='10'><strong> If you request the Committee to stop collecting, processing or using or request to delete your personal data, the Committee must cancel your entry permit application to Taiwan, notice of admission via placement to Taiwan, etc, at the same time. If you have already enrolled in school in Taiwan, you will be revoked upon request. If your request hinders the performance of the Committee’s duties or the completion of purposes of the aforementioned information collecting, or results in the Committee’s violation of laws and regulations or the requirements of the competent authority, the Committee may continue to collect, process, use or retain personal data. </strong></li> -->
			</p>
			<p style="color:midnightblue; font-weight: bold">
				<a href="https://mojlaw.moj.gov.tw/LawContent.aspx?LSID=FL010631" target="_blank">
					<sup>[註 NOTE]</sup> 法務部頒定個人資料保護法之特定目的及個人資料之類別代號 <br/>
					The specific purpose and the classification of personal information of the Personal Information Protection Act
				</a>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 text-center">
		<button onclick="javascript:location.href='./register.html'" class="btn btn-primary" id = 'btn-agree'>同意<br/>Agree</button>
	</div>
</div>
